/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--dark-bg);
  box-sizing: border-box;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
}

:root {
  --dark-bg: #1c1e1f;
  --dark: #181a1b;
  --white: rgb(218, 216, 210);
  --dark-bar: #242728;
  --grey: #d4d4d4;
  --grey-light: #4c4d54;
  --border: rgb(56, 56, 56);
  --github: url(../img/github-dark.png);
  --linkedin: url(../img/linkedin-dark.png);
  --codecamp: url(../img/codecamp-dark.png);
}

/* TEXT */
h1 {
  color: var(--white);
  margin-left: 60px;
  float: left;
  margin-top: 50px;
  line-height: 38px;
  font-weight: bolder;
  font-size: 3em;
}

h2 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px;
  padding-left: 10px;
  margin: 0px;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--border);
  font-weight: bold;
}

h4,
span,
li {
  color: var(--white);
}
p {
  color: var(--white);
  font-size: 13.5px;
}

/* BOOSTRAP */

main {
  padding-top: 110px;
  margin-right: auto;
  margin-left: auto;
}

.side-bar,
.main-content {
  background-color: var(--dark);
  padding-bottom: 25px;
  margin-bottom: 40px;
}

.side-bar {
  margin-right: 20px;
  padding-right: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 245px;
}

.side-bar ul {
  list-style: none;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid var(--border);
}

.side-bar li p span {
  width: 45%;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}

.main-content ul {
  list-style: none;
  padding: 15px;
  margin-bottom: 0;
}

.main-content li span {
  width: 25%;
  float: left;
  font-weight: bold;
  margin-top: 9px;
}

.content-formation {
  display: table-cell;
}

.social a {
  margin-right: 20px;
  margin-left: 20px;
}

.social {
  text-align: center;
  margin-top: 15px;
}

.formation ul {
  padding-bottom: 0;
}

.formation .content-formation ul {
  padding: 0;
}

.main-content span {
  margin-right: 15px;
}

.side-bar h2 {
  padding-left: 20px;
}

.imageprojet {
  transition: transform 0.5s;
}

.imageprojet:hover {
  transform: scale(1.1);
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.h2bar {
  border-top: 1px solid var(--border);
  margin-top: 10px;
}

.social img {
  margin-bottom: 5px;
}

.softskills a {
  display: inline-block;
  border: 1px solid var(--border);
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
  color: var(--white);
}

.softskills a:hover {
  background-color: #346abb;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.progressbar {
  background-color: var(--dark-bar);
  border-radius: 13px;
  padding: 3px;
  margin-bottom: 20px;
}

.progressbarlangue {
  background-color: var(--dark-bar);
  border-radius: 13px;
  padding: 3px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: 10%;
}

.langue {
  margin-left: 12%;
}

.bar {
  background-color: #346abb;
  height: 18px;
  border-radius: 10px;
}

.hardskills li span {
  width: 50%;
}

.projets h2 {
  display: inline-block;
  width: 100%;
}

.projets li {
  margin-bottom: 15px;
}

.projets img {
  margin-top: 5px;
  max-width: 200px;
  margin-left: -10px;
  padding-right: 50px;
}

.hardskills-bar {
  margin-top: 10px;
}

/* CHECKBOX DARK MODE */
.checkbox {
  margin-right: 8%;
  float: right;
  margin-top: 56px;
}

.checkbox input {
  display: none;
}

.checkbox label {
  display: block;
  width: 45px;
  height: 24px;
  background: #ccc;
  border-radius: 3em;
  position: relative;
}

.checkbox label::before {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  content: "";
  height: 20px;
  width: 20px;
  background-color: var(--dark);
  border-radius: 50%;

  transition: 0.2s left, 0.2s background;
}

.checkbox input:checked + label {
  background: var(--white);
}

.checkbox input:checked + label::before {
  left: 22px;
}

.checkbox img {
  margin-right: 10px;
  width: 26px;
  height: auto;
}

.imgprofil {
  display: block;
  margin-left: 0;
}

.imggithub {
  content: var(--github);
}

.imglinkedin {
  content: var(--linkedin);
}

.imgcodecamp {
  content: var(--codecamp);
}
.progressbar.anim {
  animation: progressbaranim 1.3s ease-in-out;
}

.progressbarlangue.anim {
  animation: progressbaranimlangue 1.3s ease-in-out;
}

@keyframes progressbaranimlangue {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 80%;
    opacity: 1;
  }
}

@keyframes progressbaranim {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.appear {
  opacity: 0;
}

.appear-2 {
  animation: 1s apparition2;
}

.appear-3 {
  animation: 1s apparition3;
}

@keyframes apparition1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition2 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes apparition3 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* MEDIA QUERIES */

@media screen and (max-width: 990px) {
  .side-bar {
    margin-left: 20px;
  }

  .main-content {
    margin: 0 20px;
    margin-bottom: 40px;
  }

  .side-bar li p span {
    width: 22%;
    margin-left: 32%;
  }
  .projets span {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
  }
  .projets img {
    max-width: 280px;
    width: 450px;
    margin-top: 0px;
  }
  .projets .content-formation {
    padding-top: 160px;
    text-align: center;
  }
}

@media screen and (min-width: 1400px) {
  .side-bar li p span {
    width: 35%;
    margin-left: 15%;
  }
  .projets img {
    max-width: 280px;
    width: 280px;
    padding-right: 100px;
  }
  .projets .content-formation {
    padding-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  .side-bar li p span {
    width: 24%;
    margin-left: 29%;
  }
  .projets span {
    right: 20px;
  }
  h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 700px) {
  .side-bar li p span {
    width: 28%;
    margin-left: 24%;
  }
  .projets span {
    right: 50px;
  }
  h1 {
    font-size: 1.9em;
  }
}

@media screen and (max-width: 560px) {
  .side-bar li p span {
    width: 35%;
    margin-left: 15%;
  }
  header h1 {
    margin-left: 15px;
  }
  .projets span {
    right: 100px;
  }
  h1 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 500px) {
  .side-bar li p span {
    width: 42%;
    margin-left: 8%;
  }
  h1 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 440px) {
  .side-bar li p span {
    width: 40%;
    margin-left: 5%;
  }
  .projets span {
    right: 125px;
  }
  h1 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 410px) {
  h1 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 380px) {
  h1 {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 360px) {
  h2 {
    font-size: 12px;
  }
  .side-bar li p span {
    width: 36%;
    font-size: 12px;
  }
  .projets span {
    right: 140px;
  }
  h1 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 320px) {
  .side-bar li p span {
    width: 34%;
    font-size: 10px;
  }
  h1 {
    font-size: 1em;
  }
}

/* BOUTON BACK TO TOP */
.progress-wrap {
  position: fixed;
  right: 25px;
  bottom: 25px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px var(--grey-light);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  font-family: "unicons";
  content: "\e851";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: var(--grey);
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::after {
  color: #346abb;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: var(--grey);
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
body.light .progress-wrap {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
}
